@import url(reset.css);

 * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body {
    background-image: url("../image/main.png");
    width: 100%;
    background-size: 100%;
  }
  
  .header-icons {
    width: 100%;
    height: 58px;
    opacity: 75%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 22px;
  }

  span {
    color: white;
  }
  
  .header-text {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .header-icon-left {
    color: white;
    padding-left: 80px;
  }
  
  .header-icons-right {
    display: flex;
    padding-right: 80px;
    justify-content: space-around;
    gap: 27px;
  }
  
  .line {
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 50%;
  }
  
  .header-text-green {
    margin: 3px;
  }
  
  .header-icons:hover .header-text-green {
    color: green;
    opacity: 0.8;
    transition: 2s;
  }
  
  .icon-svg {
    color: white;
  }
  
  .header-icons:hover .icon-svg {
    color: green;
    opacity: 0.8;
    transition: 2s;
  }
  
  .conteiner {
    margin: 0 auto;
    margin-top: 54px;
    background-color: white;
    width: 444px;
    height: 100%;
    padding-bottom: 38px;
  }
  
  .green-square {
    position: relative;
    top: 30px;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 324px;
  }
  
  .section-singup {
    font-size: 20px;
  }
  
  .section-login {
    font-size: 14px;
    color: #3cb878;
  }

  .conteiner:hover .section-login {
    color: #01813f;
    transition: 2s;
    text-decoration: underline;
  }
  
  .main-icons {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 324px;
  }
  
  div button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 160px;
    height: 48px;
    color: #fff;
    border-radius: 5px;
  }
  
  .line-facebook {
    width: 1px;
    height: 28px;
    background-color: #0a162f;
    opacity: 10%;
  }
  
  .line-google {
    width: 1px;
    height: 28px;
    background-color: #2b0d09;
    opacity: 10%;
    margin-left: -14px;
  }
  
  .facebook {
    background-color: #305DB8;
    border: 0px;
  }
  
  .google {
    background-color: #DF4A32;
    border: 0px;
  }

  .conteiner:hover .facebook {
    background-color: #022263;
    transition: 2s;
  }
  
  .conteiner:hover .google {
    background-color: #ab1f09;
    transition: 2s;
  }
  
  h2 {
    text-align: center;
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: #fff;
    color: #848484;
    padding: 0 5px 0 2px;
  }
  
  .or-line::before {
    content: "";
    display: block;
    width: 324px;
    height: 1px;
    position: absolute;
    top: calc(50%);
    background-color: #f2f2f2;
  }
  
  .or-line {
    margin-top: 70px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .shadow:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  }
  
  .section-form {
    width: 324px;
    height: 280px;
    margin: 0 auto;
    margin-top: 12px;
  }
 
   form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  } 
  
  .field {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
  }
  
  .footer {
    margin: 0 auto;
    width: 324px;
    height: 86px;
    margin-top: 12px;
  }

  .checkbox-text {
    font-size: 14px;
    color: #434343;
    margin-left: 8px;
  }
  
  .checkbox-link {
    font-size: 14px;
    color: #3cb878;
    margin-left: 5px;
    text-decoration: none;
  }

  .conteiner:hover .checkbox-link {
    color: #01813f;
    transition: 2s;
    text-decoration: underline;
  }
  
  .submit {
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .button {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: 0px;
    color: white;
    border-radius: 4px;
  }

  .conteiner:hover .button {
    background-color: #01813f;
    transition: 2s;
  }
  
  .footer-checkbox .checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    position: relative;
    top: 11px;
    left: 0;
    transform: translateY(-50%);
  }
  
  .footer-checkbox {
    display: flex;
  }
  
  .checkmark::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../image/Vector4.svg");
    opacity: 0;
  }
  
  .footer-checkbox .checkbox:checked ~ .checkmark::after {
    opacity: 1;
  } 
   